{% extends "base.html" %}
{% load core_tags %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}{{ request.user.first_name }}'s Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="span4">
        <div class="thumbnail">
          <img src="{{ STATIC_URL }}img/bnb_beaker_med.png" alt="300x200" style="width: 300px; height: 200px; " src="">
          <div class="caption">
            <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <hr>
            <h4>Cool Stats</h4>
            <br>
            <p>Public Protocols: {{ request.user.get_profile.get_public_protocols|length }} </p>
            
          </div>
        </div>
        <br>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Create Protocol for...</h3></li>
            {% for org in request.user.organization_set.all %}
            <li><a href="{% url protocol_create owner_slug=org.slug %}">{{ org.name }}</a><li>
            {% endfor %}
        </ul>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Create Workflow for...</h3></li>
            {% for org in request.user.organization_set.all %}
            <li><a href="{% url workflow_create owner_slug=org.slug %}">{{ org.name }}</a><li>
            {% endfor %}
        </ul>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Create Experiment for...</h3></li>
            {% for org in request.user.organization_set.all %}
            <li><a href="{% url experiment_create owner_slug=org.slug %}">{{ org.name }}</a><li>
            {% endfor %}
        </ul>
        
    </div>

 
    <div class="span8">
    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <h3>Draft Protocols ({{ request.user.get_profile.get_private_draft_protocols|length}})</h3>
                </a>
            </div>    
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Protocol</th>
                              <th>Duration</th>
                              <th>Steps</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in request.user.get_profile.get_private_draft_protocols %}
                            <tr>
                                <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                <td>{{ item.duration|protocol_time_compact }}</td>     
                                <td>{{ item.steps|length}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <h3>Private Protocols ({{ request.user.get_profile.get_private_protocols|length}})</h3>
                </a>
            </div>    
            <div id="collapseTwo" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Protocol</th>
                              <th>Duration</th>
                              <th>Steps</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in request.user.get_profile.get_private_protocols %}
                            <tr>
                                <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                <td>{{ item.duration|protocol_time_compact }}</td>     
                                <td>{{ item.steps|length}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    <h3>Public Protocols ({{ request.user.get_profile.get_public_protocols|length}})</h3>
                </a>
            </div>    
            <div id="collapseThree" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Protocol</th>
                              <th>Duration</th>
                              <th>Steps</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in request.user.get_profile.get_public_protocols %}
                            <tr>
                                <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                <td>{{ item.duration|protocol_time_compact }}</td>     
                                <td>{{ item.steps|length}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordion3">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                    <h3>Workflows ({{ request.user.workflow_set.all|length}})</h3>
                </a>
            </div>    
            <div id="collapseFour" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Workflow</th>
                              <th># of Protocols</th>
                              <th>Last Modified</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for workflow in request.user.workflow_set.all %}
                            <tr>
                                <td><a href="{{ workflow.get_absolute_url }}">{{ workflow.name}}</a></td>
                                <td>{{ workflow.numberOfProtocols }}</td>     
                                <td>{{ workflow.modified|date:"M d,Y H:i"}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordion4">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFive">
                    <h3>Experiments ({{ request.user.experiment_set.all|length}})</h3>
                </a>
            </div>    
            <div id="collapseFive" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Experiment</th>
                              <th>Last Modified</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for experiment in request.user.experiment_set.all %}
                            <tr>
                                <td><a href="{{ experiment.get_absolute_url }}">{{ experiment.name}}</a></td>
                                <td>{{ experiment.modified|date:"M d,Y H:i"}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
        {% if request.user.is_superuser or request.user.is_staff %}
        <ul class="span8 nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Admin Tools</h3></li>
            <li><a href="{% url profile_list %}">Users</a></li>
        </ul>
        {% endif %}
    </div>
    
</div>
        <!-- 
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Draft Protocols</h3></li>
          {% for protocol in request.user.get_profile.get_private_draft_protocols %}
            <li><a href="{{ protocol.get_absolute_url }}"><i class="icon-play-circle"></i> {{ protocol.name }}-{{ protocol.owner.name }}</a></li>
          {% endfor %}
        </ul>
        

        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Private Protocols</h3></li>
          {% for protocol in request.user.get_profile.get_private_protocols %}
            <li><a href="{{ protocol.get_absolute_url }}"><i class="icon-play-circle"></i> {{ protocol.name }}-{{ protocol.owner.name }}</a></li>
          {% endfor %}
        </ul>


        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Public Protocols</h3></li>
        {% for protocol in request.user.get_profile.get_public_protocols %}
            <li><a href="{{ protocol.get_absolute_url }}"><i class="icon-play-circle"></i> {{ protocol.name }}-{{ protocol.owner.name }}</a></li>
        {% endfor %}
        </ul>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Workflows</h3></li>
        {% for workflow in request.user.workflow_set.all %}
            <li><a href="{{ workflow.get_absolute_url }}"><i class="icon-play-circle"></i> {{ workflow.name }}-{{ workflow.owner.name }}</a></li>
        {% endfor %}
        </ul>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Experiments</h3></li>
        {% for experiment in request.user.experiment_set.all %}
            <li><a href="{{ experiment.get_absolute_url }}"><i class="icon-play-circle"></i> {{ experiment.name }}-{{ experiment.owner.name }}</a></li>
        {% endfor %}
        </ul> -->



    


{% endblock %}
