{% extends "base.html" %}
{% load core_tags %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>Dashboard</li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="{% url organization_list %}">Organizations</a></li>
            {% if request.user.is_superuser or request.user.is_staff %}
            <li><a href="{% url profile_list %}">Users</a></li>
            {% endif %}
        </ul>
    </div>
  </div>
{% endblock %}
