{% extends "base.html" %}
{% load core_tags %}

{% block title %}Protocol List{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_protocol_list organization.slug %}">{{ organization.name }}</a> <span class="divider">/</span></li>
      <li class="active">Workflows</li>
    </ul>
{% endblock %}

{% block page_title %}{{ organization.name|possesive }} Workflow List
{% endblock %}

{% block content %}
<div class=row>
    <div class="span12" style="text-align: right">
        <a class="btn btn-success" href="{% url organization_protocol_list organization.slug %}">Protocols</a>
        <hr>
    </div>
</div>
{% for object in object_list %}
{% with profile=object.owner.get_profile %}
<div class="row">
    <div class="span12">
        <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    </div>
    <div class="span10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Protocol</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for protocol in object.protocols.all %}
                <tr>
                    <td><a href="{{ protocol.get_absolute_url }}">{{ protocol }}</a></td>
                    <td>{{ protocol.modified|date:"M d, Y H:i"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span2 offset10">
        {% if request.user.is_authenticated %}
        <a class="btn btn-info" href="{{ object.create_protocol_url }}">New Protocol</a>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
{% endwith %}
{% endfor %}

{% endblock %}
