{% extends "base.html" %}
{% load core_tags %}

{% block title %}Protocol: {{ object.name }}{% endblock %}

{% block extracss %}
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; }
  </style>
{% endblock%}


{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li>
      <li><a href="{{ object.owner.organization_protocol_list }}">{{ object.owner.name }}</a> <span class="divider">/</span></li>
      <li><a href="{% url workflow_list object.owner.slug %}">Workflows</a> <span class="divider">/</span></li>
      <li class="active">{{object.name}}</li>
    </ul>
{% endblock %}


{% block page_title %}Workflow: {{ object.name }}    <small><a href="{{ object.get_update_url }}"><i class="icon-edit"></i> edit</a></small>
{% endblock %}


{% block content %}
<div class="row">
    <div class="span6">
        <h2>Detail</h2>
        {% object_data_table object %}
        <small><a href="{{ object.get_delete_url }}"><i class="icon-trash"></i> Delete Workflow</a></small> 
    </div>
    <div class="span6">
        <h2>Protocols</h2>

        <form id="sort_order" method="post">
          ORDER: <input type="text" name="order">
          <input type="submit" value="Save">
        </form>

        <ul id="sortable">
            {% for protocol in object.ordered_protocols %}
            <li><div id="proto_{{protocol.pk}}" class="btn"><i class="icon-move"></i> {{ protocol.name }}</div></li>
            {% endfor %}
        </ul>

    </div>
    <!-- secondary form div -->
</div>    

{% endblock %}

{% block extrajs %}
  <script>
  // When called this sets the form field 'order' to the order of the child divs in the sortable list.
  function setOrder() {
    var elms = $.map(document.getElementById("sortable").getElementsByTagName("div"), function(element) { return $(element).attr('id'); });
    document.forms['sort_order'].elements["order"].value = elms.join();
  };

  // When an update event happens on the sortable, the setOrder() is called.
  $(function() {
    $( "#sortable" ).sortable( { 
                          update: function(event, ui) { setOrder(); },
                    } );
    $( "#sortable" ).disableSelection();
  });

  setOrder();

  </script>
{% endblock %}