{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ workflow.name }}{% endblock %}

{% block page_title %}{{ workflow.name }} {% endblock %}


{% block content %}
<div class="row">
        <div class="span1" id="graph_switches">
        <a class="btn btn-info" style="width:85%;margin-bottom:10px;" href="{% url workflow_update owner_slug=organization.slug workflow_slug=workflow.slug %}"><i class="icon-edit icon-white"></i> Edit</a>
    </div>
    <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Execution of Protocols</h3></li>
            {% if protocols %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                        	<th>#</th>
                            <th>Title</th>
                            {% if request.user.is_authenticated %}
                            <th>Status</th>
                            {% endif %}
                            <th>Author</th>
                            <th>Duration</th>
                            <th>Actions</th>
                            <th>Last Modified</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for protocol in protocols %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ protocol.get_absolute_url }}">{{ protocol }}</a></td>
                        <td>
                        {% if not protocol.published %}
                            <a href="{{ protocol.get_absolute_url }}"><i class="icon-edit"></i></a>
                        {% else %}
                            <a href="#"><i class="icon-lock"></i></a>    
                        {% endif %}
                        {% if protocol.public %}
                            <a href ="#"><i class="icon-globe"></i></a>
                        {% else %}
                            <a href ="#"><i class="icon-eye-open"></i></a>
                        {% endif %}
                    </td>
                        <td>{{ protocol.author.last_name }}</td>
                        <td>{{ protocol.duration|protocol_time_round_up }}</td>
                        <td>{{ protocol.get_actions|length }}</td>
                        <td>{{ protocol.modified|date:"M d, Y H:i"}}</td>
                    </tr>
                        {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    
</div>

{% endblock %}