{% extends "base.html" %}
{% load core_tags %}

{% block title %}Protocol List{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_protocol_list organization.slug %}">{{ organization.name }}</a> <span class="divider">/</span></li>
      <li class="active">Workflows</li>
    </ul>
{% endblock %}

{% block page_title %}{{ organization.name|possesive }} Workflow List
{% endblock %}

{% block content %}
<div class=row>
    <div class="span12" style="text-align: right">
        <a class="btn btn-success" href="{% url organization_protocol_list organization.slug %}">Protocols</a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Workflow</th>
                    <th>Description</th>
                    <th>Protocols</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
{% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                    <td>{{ object.description }}</td>
                    <td>{{ object.protocol_count }}</td>
                    <td>{{ object.modified|date:"M d, Y H:i"}}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12" style="text-align:right">
        {% if request.user.is_authenticated %}
        <a class="btn btn-info" href="{% url workflow_create organization.slug %}">New Workflow</a>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

{% endblock %}
