{% extends "base.html" %}
{% load core_tags %}
{% load crispy_forms_tags %}

{% block title %}Step Create: {{ object.name }}{% endblock %}

{% block page_title %}<a href="{% url protocol_list %}">Step Create</a>: {{ object.name }}
{% if protocol_edit_authorization %}
    <small><a href="{% url protocol_update object.slug %}"><i class="icon-edit"></i> edit</a></small>
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span6">
        <h2>Detail</h2>
        {% if object.owner == request.user and object.status == object.STATUS_DRAFT %}      
            <p><a class="btn btn-success" data-toggle="modal" href="#publish-confirmation"><i class="icon-bell icon-white"></i></a> <a data-toggle="modal" href="#publish-confirmation"> Publish</a></p>
        {% endif %}
        
        {% object_data_table object %}
    </div>


<!-- secondary form div -->
    <div class="span6">
      <h2>Steps</h2>
      {% if protocol_edit_authorization %}      
          <p><a class="btn btn-success" href="{% url step_create object.slug %}"><i class="icon-plus icon-white"></i></a> <a href="{% url step_create object.slug %}">Add step</a></p>
      {% endif %}

      {% if object.steps|length %}
        <table class="table table-striped table-condensed">
            <thead>
              <tr>
                  <th>Step</th>
                  <th>Duration</th>
                  <th>Actions</th>
                  <th>Action Names</th>
              </tr>
            </thead>
            <tbody>
                {% for item in object.steps %}
                <tr>
                    <td><a href="{{ item.get_absolute_url }}">{{ item.slug }}</a></td>
                    <td>{{ item.duration_in_seconds|default:"0" }}</td>
                    <td>{{ item.actions|length }}</td>
                    <td>
                    {% for a in item.actions %}
                    <a href="{{ a.get_absolute_url }}">{{ a.objectid }}</a><br>
                    {% endfor %}
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>                    
      {% endif %}

    </div> 
    <form action="." method="post">
<div class="row">
    <!-- main form div -->
    
      <div class="span6">
        <h2>Detail</h2>
          <div class="well">{% csrf_token %}
          {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
      </div>
</div>
</form>

  </div>    
  </div>

{% if object.owner == request.user %}
    <div class="modal hide fade" id="publish-confirmation">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Are you sure you want to publish this protocol?</h3>
    </div>
    <div class="modal-body">
      <p><span class="label label-important">There is no going back!</span></p>
      <p>Once published, a protocol can't be modified. You'll need to clone it and create a new version.</p>
    </div>
    <div class="modal-footer">
      
      <form action="{% url protocol_publish object.slug %}" method="post">
        {% csrf_token %}
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <button class="btn btn-danger" id="publish">Publish</button>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}