{% extends "base.html" %}
{% load core_tags %}

{% block title %}Protocol: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url protocol_list %}">Protocols</a> <span class="divider">/</span></li>
      <li><a href="{{ object.owner.organization_protocol_list }}">{{ protocol_a.owner.name }}</a> <span class="divider">/</span></li>
      <li class="active">{{object.name}}</li>
    </ul>
{% endblock %}


{% block page_title %}Compare: {{ object.name }}
{% if not protocol.published %}
  {% if protocol_edit_authorization %}
    <small><a href="{{ object.protocol_update_url }}"><i class="icon-edit"></i> edit</a></small>
  {% endif %}
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="span6">
        <h2>Compare</h2>
        <div>{{ protocol_a }}</div>
        <div>{{ protocol_b }}</div>
        <embed src="{% url compare_protocol_graphic protocol_a.slug protocol_b.slug 'svg' %}" type="image/svg+xml" />
        <div><img src="{% url compare_protocol_graphic protocol_a.slug protocol_b.slug 'png' %}"></div>
    </div>
</div>    
{% endblock %}