{% extends "base.html" %}
{% load core_tags %}

{% block title %}Compare: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url protocol_list %}">Protocols</a> <span class="divider">/</span></li>
      <li><a href="{{ object.owner.organization_protocol_list }}">{{ protocol_a.owner.name }}</a> <span class="divider">/</span></li>
      <li class="active">{{object.name}}</li>
    </ul>
{% endblock %}


{% block page_title %}Compare: {{ object.name }}
{% if not protocol.published %}
  {% if protocol_edit_authorization %}
    <small><a href="{{ object.protocol_update_url }}"><i class="icon-edit"></i> edit</a></small>
  {% endif %}
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="span6"> 
        Name: {{ protocol_a }}  
            <div class="row">
                <div class="span4">Parent: {{protocol_a.parent }} </div>
                <div class="span2">Children: {{protocol_a.children }} </div>
            </div>
            <div class="row">
                <div class="span4">Author: {{protocol_a.data.Reference_PMID }} </div>
                <div class="span2">PubMed: {{protocol_a.data.Reference_PMID }} </div>
            </div>
            <div class="row">                
                <div class="span4">Created: {{protocol_a.data.created }} </div>
                <div class="span2">Duration: {{protocol_a.data.duration_in_seconds }} </div>
            </div>
    </div> 
    <div class="span6">        
        Name: {{ protocol_b }}  
            <div class="row">
                <div class="span4">Parent: {{protocol_b.parent }} </div>
                <div class="span2">Children: {{protocol_b.children }} </div>
            </div>
            <div class="row">
                <div class="span4">Author: {{protocol_b.data.Reference_PMID }} </div>
                <div class="span2">PubMed: {{protocol_b.data.Reference_PMID }} </div>
            </div>
            <div class="row">                
                <div class="span4">Created: {{protocol_b.data.created }} </div>
                <div class="span2">Duration: {{protocol_b.data.duration_in_seconds }} </div>
            </div>

    </div> 
    <div>   
        <embed src="{% url add_layers_graphic protocol_a.slug protocol_b.slug 'machine' 'svg' %}" type="image/svg+xml" />
        <!-- <div><img src="{% url compare_protocol_graphic protocol_a.slug protocol_b.slug 'png' %}"></div> -->
    </div>
</div>    
{% endblock %}