{% extends "base.html" %}
{% load core_tags %}

{% block title %}Compare: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url protocol_list %}">Protocols</a> <span class="divider">/</span></li>
      <li><a href="{{ protocol_a.owner.organization_protocol_list }}">{{ protocol_a.owner.name }}</a> <span class="divider">/</span></li>
      <li><a href="{{ protocol_a.get_absolute_url }}">{{ protocol_a.name }}</a> << to >> </li>
      <li><a href="{{ protocol_b.get_absolute_url }}">{{ protocol_b.name }}</a> <span class="divider">/</span></li>
      <li class="active">{{object.name}}</li>
    </ul>
{% endblock %}


{% block page_title %}Compare: {{ object.name }}
{% if not protocol.published %}
  {% if protocol_edit_authorization %}
    <small><a href="{{ object.protocol_update_url }}"><i class="icon-edit"></i> edit</a></small>
  {% endif %}
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="span5">
        <div class="well">
            <h3>{{ protocol_a }}</h3>
            <table class="table table-striped table-condensed" style="font-size:10pt">
                <tr>
                    <td>Parent: {{protocol_a.parent }}</td>
                    <td>Children: {{protocol_a.children }} </td>
                </tr>
                <tr>
                    <td>Author: {{protocol_a.owner.name }}</td>
                    <td>PubMed: {{protocol_a.data.Reference_PMID }} </td>
                </tr>
                 <tr>
                    <td>Created: {{protocol_a.created|date:"M d, Y H:i" }}</td>
                    <td>Duration: {{protocol_a.duration_in_seconds }}</td>
                </tr>
            </table>
        </div>
    </div> 
    <div class="span2">
        <button class="btn btn-success" style="width:100%;margin-bottom:10px;">Component</button>
        <button class="btn" style="width:100%;margin-bottom:10px;">Machine</button>
        <button class="btn" style="width:100%;margin-bottom:10px;">Thermocycle</button>
    </div>
    <div class="span5">
        <div class="well">
            <h3>{{ protocol_b }}</h3>
            <table class="table table-striped table-condensed" style="font-size:10pt">
                <tr>
                    <td>Parent: {{protocol_b.parent }}</td>
                    <td>Children: {{protocol_b.children }} </td>
                </tr>
                <tr>
                    <td>Author: {{protocol_b.owner.name }}</td>
                    <td>PubMed: {{protocol_b.data.Reference_PMID }} </td>
                </tr>
                 <tr>
                    <td>Created: {{protocol_b.created|date:"M d, Y H:i" }}</td>
                    <td>Duration: {{protocol_b.duration_in_seconds }}</td>
                </tr>
            </table>
        </div>
    </div> 
</div>    
<div class="row">
    <div class="span12" style="text-align:center;"> 
        <embed src="{% url add_layers_graphic protocol_a.slug protocol_b.slug layers 'svg' %}" type="image/svg+xml" />
        <!-- <div><img src="{% url compare_protocol_graphic protocol_a.slug protocol_b.slug 'png' %}"></div> -->
    </div>
</div>
{% endblock %}