{% extends "base.html" %}
{% load core_tags %}

{# PAGE TITLE #}
{% block page_title %}Protocol Diagram {% endblock %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li>
      <li><a href="{{ protocol_a.owner.organization_protocol_list }}">{{ protocol_a.owner.name }}</a> <span class="divider">/</span></li>
      <li><a href="{{ protocol_a.get_absolute_url }}">{{ protocol_a.name }}</a></li>
      <li class="active">{{object.name}}</li>
    </ul>
{% endblock %}

{# CSS STYLE SHEETS GO HERE #}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
{% endblock %}

{# MAIN PAGE CONTENT #}
{% block content %}

<div class="row">
    <div class="span10">
        <div class="well">
            <h3>{{ protocol_a }}</h3>
            <hr>
            <h5>{{ protocol_a.description }} </h5>
            </br>
            <table class="table table-striped table-condensed" style="font-size:10pt">
                <tr>
                    <td>Parent: {{protocol_a.parent }}</td>
                    <td>Children: {{protocol_a.children }} </td>
                </tr>
                <tr>
                    <td>Author: {{protocol_a.author.get_full_name }}</td>
                    <td>PubMed: {{protocol_a.data.Reference_PMID }} </td>
                </tr>
                 <tr>
                    <td>Created: {{protocol_a.created|date:"M d, Y H:i" }}</td>
                    <td>Duration: {{protocol_a.duration_in_seconds }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="span2" id="graph_switches">

        {% if component_layer %}
        <a href="{{component_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Clone</button></a>
        {% else %}
        <a href="{{component_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Clone</button></a>
        {% endif %}

        {% if machine_layer %}
        <a href="{{machine_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Full Text</button></a>
        {% else %}
        <a href="{{machine_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Full Text</button></a>
        {% endif %}

        {% if steps_layer %}
        <a href="{{steps_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Comments</button></a>
        {% else %}
        <a href="{{steps_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Comments</button></a>
        {% endif %}

        {% if thermo_layer %}
        <a href="{{thermo_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Differences</button></a>
        {% else %}
        <a href="{{thermo_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Differences</button></a>
        {% endif %}

        {% if manual_layer %}
        <a href="{{manual_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Manual</button></a>
        {% else %}
        <a href="{{manual_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Manual</button></a>
        {% endif %}

        {% if manual_layer %}
        <a href="{{manual_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Manual</button></a>
        {% else %}
        <a href="{{manual_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Manual</button></a>
        {% endif %}

        {% if manual_layer %}
        <a href="{{manual_link}}"><button class="btn btn-success" style="width:100%;margin-bottom:10px;">Manual</button></a>
        {% else %}
        <a href="{{manual_link}}"><button class="btn" style="width:100%;margin-bottom:10px;">Manual</button></a>
        {% endif %}


    </div>
</div>

<div class="wrapper">
        <div class="flowchart-container">

        </div>
</div>



{% endblock %}

{# JAVASCRIPT SHOULD GO IN THESE TAGS #}
{% block extrajs %}
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script src="{{ STATIC_URL }}js/flowchart-engine_api.js"></script>
    <script src="{{ STATIC_URL }}js/main_ajax_single.js"></script>
    <script>
    var slugs = new Array();
    slugs[0] = '{{ protocol_a.slug }}';
    // slugs[0] = '{{ params.protocol_a_slug }}';
    // slugs[1]  '{{ params.protocol_a_slug }}';


    $(document).ready(function(){
        getFlowchartData( slugs, callback );
        });
    </script>

	<script type="text/template" id="new-flowchart-table-template">
                <table class="flowchart-table">
                    <tbody class="flowchart-table-body">
                        <tr class="flowchart-line-wrapper">
                        <% _(headers).each(function(header){ %>
                            <td>
                                <div class="flowchart-line-container"></div>
                            </td>
                        <% }); %>
                        </tr>
                        <% _(rows).each(function(row){ %>
                        <tr class="flowchart-table-row">
                            <% _(row).each(function(cell){ %>
                            <td class="flowchart-table-cell " colspan="<%=cell.span%>">
                                <% if (cell.display) { %>
                                <% if (cell.isVerb==true) {%>
                                    <div class="flowchart-card flowchart-card-verb">
                                    <%= cell.index %>. <%=cell.name%>
                                    </div>
                                <% } else { %>
                                    <% if (cell.isTable==true && cell.data.length>1) {%>
                                    <div class="flowchart-card">
                                        <table class="flowchart-card-inner-table">
                                            <tbody>
                                                <% _(cell.data).each(function(crow, crowIndex){%>
                                                <tr class="flowchart-card-inner-table-row">
                                                    <%_(crow).each(function(ccell, ccellIndex){%>
                                                        <td class="flowchart-card-inner-table-cell">
                                                        <div class="flowchart-card-inner-table-cell-content">
                                                            <% if (_(ccell).isArray()){%>
                                                            <%=ccell.join(' ')%>
                                                            <%} else {%>
                                                                <% if (ccellIndex!=0 && crowIndex!=0 && ccellIndex==crow.length-1) { %>
                                                                    <a href="<%=ccell%>" target="_blank"><i class="icon icon-cog"></i></a>
                                                                <% } else { %>
                                                                    <%=ccell.toString().replace(/_/gi, " ")%>
                                                                <%}%>
                                                            <%}%>
                                                        </div>
                                                        </td>
                                                    <%})%>
                                                </tr>
                                                <%});%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } else if (cell.isInline==true) {%>
                                    <div class="flowchart-card">
                                        <table class="flowchart-card-inline-layout">
                                            <tbody>
                                                <tr class="flowchart-card-inline-layout-row">
                                                    <td class="flowchart-card-inline-layout-cell">
                                                    <div class="flowchart-card-inline-layout-content">
                                                    <% _(cell.data).each(function(crow, crowIndex){ %>
                                                        <div>
                                                        <%_(crow).each(function(cobject,cobjectIndex){%>
                                                            <%=cobject.key.toString().replace(/_/gi, " ")%>:
                                                            <%=_(cobject.value).isArray() ? cobject.value.join(' ') : cobject.value %><%= cobjectIndex==crow.length-1 ? ';' : ',' %>
                                                        <%});%>
                                                        </div>
                                                    <% }) %>
                                                    </div>
                                                    </td>
                                                    <td class="flowchart-card-inline-layout-cell">
                                                        <div class="flowchart-card-inline-layout-content-url">
                                                            <% if (cell.url) { %>
                                                                <a href="<%=cell.url%>" target="_blank"><i class="icon icon-cog"></i></a>
                                                            <%} else {%>
                                                                <i class="icon icon-cog" style="opacity: 0;"></i>
                                                            <%}%>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <% } %>
                                <% } %>
                                </div>
                                <% } %>
                            </td>
                            <% });%>
                        </tr>
                        <%});%>
                    </tbody>
                </table>
            </script>


{%endblock%}










