{% extends "base.html" %}
{% load core_tags %}

{# PAGE TITLE #}
{% block title %}Compare: {{ object.name }}{% endblock %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span></li>
      <!-- <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li> -->
      <li><a href="{{ protocol_a.owner.organization_protocol_list }}">{{ protocol_a.owner.name }}</a> <span class="divider">/</span></li>
      <li><a href="{{ protocol_a.get_absolute_url }}"><i class="icon-th-list"></i> {{ protocol_a.name }}</a> <<  to >> </li>
      <li><a href="{{ protocol_b.get_absolute_url }}"><i class="icon-th-list"></i> {{ protocol_b.name }}</a> </li>
      <li class="active">{{object.name}}</li>
    </ul>
{% endblock %}

{# CSS STYLE SHEETS GO HERE #}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
{% endblock %}

{# MAIN PAGE CONTENT #}
{% block content %}
<ul class="nav nav-tabs">
  <li><a href="{{ protocol_a.owner.organization_protocol_list }}">Protocol List</a></li>
  <li class="active"><a href="{{ protocol_a.owner.organization_protocol_list }}">Protocol Diagram</a></li>
    <!--   <li><a href="{% url workflow_list protocol_a.owner %}">Workflows</a></li>-->  
    <!-- <li><a href="{% url compare_select %}">Compare Protocols</a></li> -->
    {% if request.user.is_authenticated %}
  <li><a href="{% url protocol_create protocol_a.owner %}">New Protocol</a></li>
    {% endif %}
</ul>


<div class="row">
    <div class="span2" id="graph_switches">
    <!--     <a class="btn btn-info btn-toggle-comments" style="width:85%;margin-bottom:10px;"><i class="icon-comment-alt icon-white"></i> Comments</a>
        <a class="btn btn-info btn-toggle-differences" style="width:85%;margin-bottom:10px;"><i class="icon-columns icon-white"></i> Differences</a> -->
    
    </div>
    <div class="span6">
        <div class="well">
            <h3><a href="{{ protocol_a.protocol_outline_url }}">{{ protocol_a }}</a></h3>
            <table class="table table-striped table-condensed" style="font-size:10pt">
                <tr>
                    </br>
                    <b>Description:</b> {{ protocol_a.description }}
                    </br>
                    </br>
                </tr>
                <tr>
                    <td>Organization: {{protocol_a.owner }}</td>
                    <td>Author: {{protocol_a.author.get_full_name  }}</td>
                </tr>
                <tr>
                    <td>Created: {{protocol_a.created|date:"M d, Y H:i" }}</td>
                    <td>Last modified: {{protocol_a.modified|date:"M d, Y H:i" }}</td>
                </tr>
                 <tr>
                    <td></td>
                    <td>Duration: {{protocol_a.update_duration_steps|protocol_time_round_up }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h3><a href="{{ protocol_b.protocol_outline_url }}">{{ protocol_b }}</a></h3>
            <table class="table table-striped table-condensed" style="font-size:10pt">
                <tr>
                    </br>
                    <b>Description:</b> {{ protocol_b.description }}
                    </br>
                    </br>
                </tr>
                <tr>
                    <td>Organization: {{protocol_b.owner }}</td>
                    <td>Author: {{protocol_b.author.get_full_name  }}</td>
                </tr>
                <tr>
                    <td>Created: {{protocol_b.created|date:"M d, Y H:i" }}</td>
                    <td>Last modified: {{protocol_b.modified|date:"M d, Y H:i" }}</td>
                </tr>
                 <tr>
                    <td></td>
                    <td>Duration: {{protocol_b.update_duration_steps|protocol_time_round_up }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="wrapper">
        <div class="flowchart-container">

        </div>
</div>



{% endblock %}

{# JAVASCRIPT SHOULD GO IN THESE TAGS #}
{% block extrajs %}
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script src="{{ STATIC_URL }}js/flowchart-engine_api.js"></script>
    {% if clone %}
        <script src="{{ STATIC_URL }}js/main_clone_ajax.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/main_ajax.js"></script>
    {% endif %}
    <script>
    var slug_A = '{{ protocol_a.slug }}';
    var slug_B = '{{ protocol_b.slug }}';
    // var slug_A = '{{ params.protocol_a_slug }}';
    // var slug_B = '{{ params.protocol_b_slug }}';
    $(document).ready(function(){
        getFlowchartData( slug_A, slug_B, callback );
        });

    var options = {
        displayDiff: false,
        displayComments: false,
        contextMenu : {
            texts : false
        }
    }

    $('body').on('click', '.btn-toggle-differences', function(){
        options.displayDiff = !options.displayDiff;
        $('.flowchart-container').flowchart( null, options );
    });
    $('body').on('click', '.btn-toggle-comments', function(){
        options.displayComments = !options.displayComments;
        $('.flowchart-container').flowchart( null, options );
    });
    </script>

	<script type="text/template" id="new-flowchart-table-template">
            <table class="flowchart-table">
                <tbody class="flowchart-table-body">
                    <tr class="flowchart-line-wrapper">
                    <% _(headers).each(function(header){ %>
                        <td>
                            <div class="flowchart-line-container"></div>
                        </td>
                    <% }); %>
                    </tr>
                    <% _(rows).each(function(row){ %>
                    <tr class="flowchart-table-row" data-objectid="<%=row[0].objectid || ''%>">
                        <% _(row).each(function(cell){ %>
                        <td class="flowchart-table-cell " colspan="<%=cell.span%>">
                            <% if (cell.display) { %>
                            <% if (cell.isVerb==true) {%>
                                <div class="flowchart-card flowchart-card-verb">
                                <%= cell.index %>. <%=cell.name%>
                                </div>
                            <% } else { %>
                                <% if (cell.isTable==true && cell.data.length>1) {%>
                                <div class="flowchart-card">
                                    <table class="flowchart-card-inner-table">
                                        <tbody>
                                            <% _(cell.data).each(function(crow, crowIndex){%>
                                            <tr class="flowchart-card-inner-table-row">
                                                <%_(crow).each(function(ccell, ccellIndex){%>
                                                    <td class="flowchart-card-inner-table-cell">
                                                    <div class="flowchart-card-inner-table-cell-content" style="<% if (ccell.color && ccell.color!='') { %>color:<%=ccell.color%><% } %>">
                                                        <% if (ccell.isUrl) { %>
                                                            <a href="<%=ccell.value%>" target="_blank"><i class="icon icon-cog"></i></a>
                                                        <% } else if (ccell.isLink && ccell.value!=" ") { %>
                                                            <a href="<%=ccell.value%>" target="_blank"><i class="icon icon-th-list"></i></a>
                                                        <% } else { %>
                                                            <%=ccell.value.toString().replace(/_/gi, " ")%>
                                                        <%}%>
                                                    </div>
                                                    </td>
                                                <%})%>
                                            </tr>
                                            <%});%>
                                        </tbody>
                                    </table>
                                </div>
                                <% } else if (cell.isInline==true) {%>
                                <div class="flowchart-card">
                                    <table class="flowchart-card-inline-layout">
                                        <tbody>
                                            <tr class="flowchart-card-inline-layout-row">
                                                <td class="flowchart-card-inline-layout-cell">
                                                <div class="flowchart-card-inline-layout-content">
                                                <% _(cell.data).each(function(crow, crowIndex){ %>
                                                    <div>
                                                    <%_(crow).each(function(cobject,cobjectIndex){%>
                                                        <span style="<% if (cobject.color && cobject.color!='') { %>color:<%=cobject.color%><% } %>"><%=cobject.key.toString().replace(/_/gi, " ")%>:
                                                        <%=_(cobject.value).isArray() ? cobject.value.join(' ') : cobject.value %><%= cobjectIndex==crow.length-1 ? ';' : ',' %></span>
                                                    <%});%>
                                                    </div>
                                                <% }) %>
                                                </div>
                                                    <% if (cell.url) { %>
                                                        <a class="flowchart-card-inline-layout-content-url" href="<%=cell.url%>" target="_blank"><i class="icon icon-cog"></i></a>
                                                    <%} else {%>
                                                        <i class="icon icon-cog" style="opacity: 0;"></i>
                                                    <%}%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <% } %>
                            <% } %>
                            </div>
                            <% } %>
                        </td>
                        <% });%>
                    </tr>
                    <%});%>
                </tbody>
            </table>
            <div class="flowchart-table-text-overlay-container">
            <% _(texts).each( function( text, index, texts ) { %>
                <div class="flowchart-table-text-overlay">
                    <% if (text!='None') {%>
                    <%= text %>
                    <% } %>
                </div>
            <% }); %>
            </div>

        </script>


{%endblock%}










