{% extends "base.html" %}
{% load core_tags %}

{% block title %}Protocol List{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li>
      <li class="active">{{ organization.name }}</li>
    </ul>
{% endblock %}

{% block page_title %}{{ organization.name|possesive }} Protocol List 
{% endblock %}

{% block content %}
<div class=row>
    <div class="span12" style="text-align: right">
        <a class="btn btn-primary" href="{% url workflow_list organization.slug %}">Workflows</a>
        <a class="btn btn-success" href="{% url compare_select %}">Compare Protocols</a>
        <hr>
    </div>
</div>
{% for object in object_list %}
{% with profile=object.owner.get_profile %}
<div class="row">
    <div class="span12">
        <h2>{{ object.name }}</h2>
    </div>
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if request.user.is_authenticated %}
                        <th></th>
                    {% endif %}
                    <th>Title</th>
                    <th>Author</th>
                    <th>Steps</th>
                    <th>Actions</th>
                    {% if request.user.is_authenticated %}
                        <th>Status</th>
                    {% endif %}
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for protocol in object.protocol_set.all %}
                <tr>
                    <td>
                        {% if not protocol.published %}
                            <a href="{{ protocol.get_absolute_url }}"><i class="icon-edit"></i></a>
                        {% endif %}
                        <a href="{{ protocol.protocol_outline_url }}"><i class="icon-picture"></i></a>
                    </td>
                    <td><a href="{{ protocol.get_absolute_url }}">{{ protocol }}</a></td>
                    <td><a href="{{ profile.get_absolute_url }}">{{ profile }}</a></td>
                    <td>{{ protocol.steps|length }}</td>
                    <td>{{ protocol.actions.count }}</td>
                    <td>{{ protocol.status }}</td>
                    <td>{{ protocol.modified|date:"M d, Y H:i"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12" style="text-align:right">
        {% if request.user.is_authenticated %}
        <a class="btn btn-info" href="{{ object.create_protocol_url }}">New Protocol</a>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
{% endwith %}
{% endfor %}

{% endblock %}
