{% extends "base.html" %}
{% load core_tags %}

{% block title %}Protocol Form Test{% endblock %}

{% block page_title %}Protocol Form Test{% endblock %}

{% block extracss %}
<style>
/*--------------------
  Throwaway styles - for testing 
--------------------*/
footer{ display:none; }
#wrapper{
    width: 960px;
    margin: auto;
    position: relative;
    min-height: 32em;
}
.nav-tabs>li {width:13em;}
.nav-tabs>li>a {
    padding: 2em 1em;
    text-align: right;
}
.nav-tabs>li>a input{
    width:10em;
}

/*------------------------
    Input Page styles 
------------------------*/
#protocol-intro{
    content:"";
    background-color:rgba(0,0,0,.3);
    position:absolute;
    top:0;
    bottom:0;
    left:-1em;
    right:-1em;
    z-index:1;
}
.data-input.hero-unit{
    position:absolute;
    left: 15%;
    right: 15%;
    margin-top: 4em;
    z-index: 2;
}
.data-input.hero-unit h1{
    margin-bottom:.5em;
}
.data-input.hero-unit input, .data-input.hero-unit .btn{
    padding:.5em;
}
#protocol-intro .alert{ font-size: .8em; }

#protocol-title{
    margin:0;
}
#protocol-description{
    font-style: italic;
    color: #777;
}
.blur-text *{
    color: transparent !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
}
.tab-content{
    position:relative;
    padding-bottom:5em;
}
.page-header .step-description{
    color:#777;
}
.save-protocol-container{
    border-top:1px solid #ddd;
    padding-top:1em;
    margin-top:1em;
}
#save-protocol{
    float:right;
    margin-bottom:.5em;
    margin-top: 0.3em;
    margin-left: 1em;
}
.save-protocol-container .alert{
    display:inline;
    float:right;
}
/*------------------------
       Action styles 
------------------------*/
.verb > td{
    padding-top: .8em;
}
.module-title{
    padding: 1em;
    background-color: #f6f6f6;
    color: #999;
    font-style: normal;
    margin-bottom: 1em;
}
.isactive-toggle{
    float:right;
}
.isactive-toggle input{
    float:left;
    margin-right: .5em;
}
.isactive-toggle label{ float:left; }
tr.action-header{
    background-color:#eee;
}
tr.action-header h4{
    margin-left:1em;
    float:left;
}
td:first-child{
    font-weight:bold;
}
tr:last-child{
    font-weight:normal;
    color:#ddd;
    font-style: italic;
    cursor:text;
}
tr:last-child td:first-child{
    font-weight:normal;
}
tr:last-child:hover td{
    color:#bbb;
    transition: .2s ease;
}
.action-container input[type=text]{
    margin:0;padding:0;
}
.add-new-action{
    padding-left:1.5em;
    border:1px solid #ddd;
    background-color:#eee;
    border-radius:3px;
    cursor:pointer;
    font-style: italic;
    opacity: .5;
}
.add-new-action:hover{
    transition:.2s all;
    opacity: 1;
} 
.add-new-action h4{font-weight: normal;}
.add-new-step{ 
    font-style: italic;
    cursor: pointer; 
}
th.add-property{ 
    text-align: right;
    width: 70%;
    font-style: italic;
    font-weight: normal;
    cursor: pointer;
    margin-right:1em;
}
.action-container label{
    color:#000;
    font-style: normal;
}
.action-container input[type=text]{ padding: .2em .5em; }

/* Bootstrap Doesn't like combining its form elements */
.action-container .help-block{ color:#aaa; }
.action-container .input-append .help-block{ font-size: 14px; }
.input-append .add-on{ 
    padding:3px 5px;
    border-radius:0 3px 3px 0;
    color:#666;
}
.form-horizontal .controls.input-append {
    margin-left: 20px;
}
.form-horizontal textarea.comments{
    display: block;
    margin-top: .5em;
    opacity: .5;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">

      <div id="wrapper">

        <!-- Start Overlay -->
        <div id="protocol-intro">
            <div class="hero-unit data-input">
                <h1>First, name this protocol</h1>
                <div class="input-append">
                    <input type="text" class="span4" placeholder="name" autofocus>
                    <button class="btn" id="intro-submit" type="button">Got it!</button>
                </div>
            </div>
        </div>

        <!-- Start Main Content -->
         <div class="tabbable tabs-left blur-text" id="nav-tabs">

            <!-- Protocol Meta -->
            <div class="page-header">
                <!-- Title -->
                <h3 id="protocol-title">Name this protocol</h3>
                <!-- Description -->
                <span id="protocol-description">add a description</span>
            </div>
            
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="protocol-tabs">
                <li class="add-new-step"><a href="">&plus; add new step</a></li>
            </ul>

            <!-- Content -->
            <div class="tab-content">

            </div>
        </div>

        <!-- End Main Content -->

    </div> <!-- End Container -->

    <div class="save-protocol-container">
        <button class="btn btn-success" id="save-protocol">Save Protocol</button>
    </div>

    </div>
</div>
{% endblock %}

{% block extrajs %}
<!-- EXTRA JS-->
<script>
// URL prefix for use in multiple enviorments
var apiUrlPrefix = 'http://localhost:8000/api/';
</script>
<script src="{{ STATIC_URL }}js/bnb.data-input.js"></script>
{% endblock extrajs %}
