{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load wysiwyg %}

{% block title %}Protocol{% if not object %} Create{% else %} Edit: {{ object }}{% endif %}{% endblock %}

{% block page_title %}Protocol{% if not object %} Create{% else %} Edit: {{ object }}{% endif %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li>
      <li><a href="{% url organization_protocol_list organization.slug %}">{{ organization.name }}</a> <span class="divider">/</span></li>
      {% if object %}
      <li><a href="{{ object.get_absolute_url }}">{{object.name}}</a><span class="divider">/</span></li>
      <li class="active">Protocol Edit</li>
      {% else %}
      <li class="active">Protocol Create</li>
      {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="row">

    <!-- main form div -->
    <div class="span6">
      {% if object %}<h2>Detail</h2>{% endif %}
      <form action="." method="post" class="form-stacked well">{% csrf_token %}
      {{ form|crispy }}
        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>

    <!-- secondary form div -->
    {% if object %}
    <div class="span6">
      <h2>Steps</h2>
      <p><a class="btn btn-success" href="{{ object.step_create_url }}"><i class="icon-plus icon-white"></i></a> <a href="{{ object.step_create_url }}">Add step</a></p>

      {% if steps|length %}
        <table class="table table-striped table-condensed">
            <thead>
              <tr>
                  <th nowrap></th>
                  <th>Step</th>
                  <th>Actions</th>
                  <th>Last Modified</th>
              </tr>
            </thead>
            <tbody>
                {% for item in steps %}
                <tr>
                    <td nowrap>
                        <div class="btn-group" id="item-{{ item.pk }}">
                            <button class="btn btn-warning {% if forloop.first %}disabled{% else %}up{% endif %}"><i class="icon-arrow-up icon-white"></i></button>
                            <button class="btn btn-warning {% if forloop.last %}disabled{% else %}down{% endif %}"><i class="icon-arrow-down icon-white"></i></button>
                            <button class="btn btn-danger delete"><i class="icon-minus icon-white"></i></button>                            
                        </div>
                    </td>
                    <td><a href="{{ item.get_absolute_url }}">{{ item.name|truncatewords:"3" }}</a></td>
                    <td>{{ item.actions|length }}</td>
                    <td>{{ object.modified }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>                    
      {% endif %}

    </div>    
    {% endif %}
  </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#id_name").focus();
    });
</script>
{% wysiwyg_setup  %}    
{% wysiwyg_editor "id_raw" %}
{% endblock extrajs %}
