{% extends "base.html" %}
{% load core_tags %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span></li>
      <!-- <li><a href="{% url organization_list %}">Organizations</a> <span class="divider">/</span></li> -->
      <li><a href="{{ object.owner.organization_protocol_list }}">{{ object.owner.name }}</a> <span class="divider">/</span></li>
      <li><a href="{{object.get_absolute_url}}"><i class="icon-th-list"></i> Protocol:{{object.name}}</a> <span class="divider">/</span></li>
      <li><a href="{{step.get_absolute_url}}">Step {{step.name}}</a> <span class="divider">/</span></li>
      <li class="active">Add Action</li>
    </ul>
{% endblock %}


{% block title %}Create Action => {{step.title}}{% endblock %}

{% block page_title %}
Create Action => {{step.title}}
{% if protocol_edit_authorization %} 
    <small><a href="{% url step_update object.slug step.slug  %}"><i class="icon-edit"></i> edit</a></small>
{% endif %}
{% endblock %}

{% block content %}


<form action="." method="post">
<div class="row">
    <!-- main form div -->
    
      <div class="span6">
        <h2>Action: {{verb_name}}</h2>
          <div class="well">{% csrf_token %}
          {{ form|crispy }}
          <hr>
          {{ verb_form|crispy }}
          </div>
        </div>
</div>

<div class="row">
    <div class="span12">
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </div>
</div>      
</form>

    </div>

  </div>
{% endblock %}

