{% extends "base.html" %}
{% load core_tags %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url protocol_list %}">Protocols</a> <span class="divider">/</span></li>
      <li><a href="{{ object.owner.organization_protocol_list }}">{{ object.owner.name }}</a> <span class="divider">/</span></li>
      <li><a href="{{object.get_absolute_url}}">{{object.name}}</a> <span class="divider">/</span></li>
      <li><a href="{{step.get_absolute_url}}">{{step.name}}</a> <span class="divider">/</span></li>
      <li class="active">{{action.name}}</li>
    </ul>
{% endblock %}

{% block title %}Action: {{ action.title }}{% endblock %}

{% block page_title %}
Action: {{ action.title }}
{% if protocol_edit_authorization %} 
    <div><small><a href="{{ action.action_update_url }}"><i class="icon-edit"></i>edit </a></small></div>
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span6">
        {% object_data_table action %}
        <a class="btn btn-warning" href="{{ action.action_delete_url }}">Delete Action</a>
        <p></p>
    </div>
    <div class="span6">
        
    </div>
  </div>
{% endblock %}

