{% extends "base.html" %}
{% load core_tags %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}">Dashboard</a> <span class="divider">/</span></li>
      <li><a href="{% url protocol_list %}">Protocols</a> <span class="divider">/</span></li>
      <li><a href="{{object.get_absolute_url}}">{{object.name}}</a> <span class="divider">/</span></li>
      <li><a href="{{step.get_absolute_url}}">{{step.name}}</a> <span class="divider">/</span></li>
      <li class="active">{{action.name}}</li>
    </ul>
{% endblock %}

{% block title %}Action: {{ action.title }}{% endblock %}

{% block page_title %}
Action: {{ action.title }}
{% if protocol_edit_authorization %} 
    <small><a href="{% url action_update object.slug step.slug action.slug  %}"><i class="icon-edit"></i>edit </a></small>
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span6">
        {% object_data_table action %}
    </div>
    <div class="span6">
        
    </div>
  </div>
{% endblock %}

