{% extends "base.html" %}
{% load core_tags %}

{% block title %}Step: {{ object.name }}{% endblock %}

{% block page_title %}
<a href="{% url step_list protocol.slug %}">Step</a>: {{ object.name }}
<small><a href="{% url step_update protocol.slug object.slug  %}"><i class="icon-edit"></i></a></small>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span6">
        <h2>Detail</h2>
        {% object_data_table object %}
    </div>

    <div class="span6">
      <h2><a href="{% url action_list protocol.slug object.slug %}">Actions</a></h2>

      {% if actions|length %}
        <table class="table table-striped table-condensed">
            <thead>
              <tr>
                  <th>Step</th>
                  <th>Verb</th>
                  <th>Last Modified</th>
              </tr>
            </thead>
            <tbody>
                {% for item in actions %}
                <tr>
                    <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                    <td><a href="{% url verb_detail item.verb %}">{{ item.verb }}</a></td>
                    <td>{{ item.modified }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>                    
      {% endif %}
    </div>

  </div>
{% endblock %}

