{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Action Form{% endblock %}

{% block page_title %}
{% if object %}
  Editing Action: <a href="{{ object.get_absolute_url }}">{{ object }}</a>
{% else %}
  Adding Action to Step: <a href="{{ step.get_absolute_url }}">{{ step }}
{% endif %}

{% endblock %}

{% block content %}

<div class="row">

    <!-- main form div -->
    <form action="." method="post">
      <div class="span6">
        <h2>Detail</h2>
          <div class="well">{% csrf_token %}
          {{ form|crispy }}
            <div class="actions">
              <input tabindex="50" type="submit" class="btn btn-primary" value="Submit">
            </div>
          </div>
      </div>

      <!-- secondary form div -->
        <div class="span6">
          <h2>Verb</h2>
          <div class="well verb">

          </div>
        </div>
    </form>
  </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#id_name").focus();

        {% if object %}
            var url = '/protocols/{{ protocol.slug }}/steps/{{ step.slug }}/actions/ajax/{{ object.pk }}/{{ object.verb }}/';
            $.get(url, function(data) {
                  $('.verb').html(data).show();
            });             
        {% endif %}

        $("#id_verb").change(function(){
            {% if object %}
              var url = '/protocols/{{ protocol.slug }}/steps/{{ step.slug }}/actions/ajax/{{ object.pk }}/' + this.value + '/';
            {% else %}
              var url = '/protocols/{{ protocol.slug }}/steps/{{ step.slug }}/actions/ajax/0/' + this.value + '/';
            {% endif %}
            $.get(url, function(data) {
                  $('.verb').html(data).show("slow");
            });             
        });        
    });
</script>
{% endblock extrajs %}
