{% extends "base.html" %}

{% block title %}Action List for Step {{ step.name }}{% endblock %}

{% block page_title %}Action List for Step <a href="{{ step.get_absolute_url }}">{{ step.name }}</a>{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Verb</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>    
                    <td>
                        <a href="{% url action_update protocol.slug step.slug object.slug %}"><i class="icon-edit"></i></a>
                    </td>
                    <td>
                        <a href="{% url action_detail protocol.slug step.slug object.slug %}">{{ object }}</a>
                    </td>
                    <td><a href="{% url verb_detail object.verb %}">{{ object.verb }}</a></td>
                    <td>{{ object.modified }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
  </div>
{% endblock %}

