{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Protocol{% if object %}: {{ object }}{% endif %}{% endblock %}

{% block page_title %}Protocol{% if object %}: <a href="{{ object.get_absolute_url }}">{{ object }}</a>{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="span6">
      <form action="." method="post" class="form-stacked well">{% csrf_token %}
      {{ form|crispy }}
        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#id_name").focus();
    });
</script>
{% endblock extrajs %}
