{% extends "base.html" %}

{% block title %}Protocol List{% endblock %}

{% block page_title %}Protocol List 
    {% if request.user.is_authenticated %}
        <small>( <a href="{% url protocol_create %}">new</a> )</small>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if request.user.is_authenticated %}
                        <th></th>
                    {% endif %}
                    <th>Title</th>
                    <th>Owner</th>
                    <th>Steps</th>
                    <th>Actions</th>
                    {% if request.user.is_authenticated %}
                        <th>Status</th>
                    {% endif %}
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                {% with profile=object.owner.get_profile %}
                <tr>    
                    {% if request.user.is_authenticated %}
                        <td>
                            {% if object.status == object.STATUS_DRAFT %}
                                {% if request.user == object.owner or request.user.is_superuser or request.user.is_staff %}
                                    <a href="{% url protocol_update object.slug %}"><i class="icon-edit"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>

                    {% endif %}
                    <td>
                        <a href="{% url protocol_detail object.slug %}">{{ object }}</a>
                    </td>
                    <td><a href="{{ profile.get_absolute_url }}">{{ profile }}</a></td>
                    <td>{{ object.step_set.count }}</td>
                    <td>{{ object.actions.count }}</td>
                    {% if request.user.is_authenticated %}
                        <td>{{ object.status }}</td>
                    {% endif %}                    
                    <td>{{ object.modified }}</td>
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>

    </div>
  </div>
{% endblock %}

