select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
height: 25px;

}

/* BnB Main Color:  #798b9a  */

.navbar-inner {
	background-color: #798b9a;
	background-image: -webkit-linear-gradient(top,#8A9CAA,#798B9A);
}

.navbar .nav > li > a {
	color:white;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover
{
	background-color: #798b9a;
	background-image: -webkit-linear-gradient(top,#8A9CAA,#798B9A);
}
