/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height:100%;
    max-height: 100%;
}

.wrapper {
    padding: 0 10px;
}

.page-footer {
    padding: 2em;
    color: grey;
    text-align: center;
    background: white;
}

.flowchart-container {
    width: 100%;
    padding:  4em 0em 0em;
}

.flowchart-table {
    width: 100%;

}

.flowchart-table .flowchart-header td {
    padding: 0;
}
.flowchart-table .flowchart-header td>div {
    position: relative;
    height: 0;
    padding: 0;
}
.flowchart-table .flowchart-header td h3 {
    position: absolute;
    top: -3em;
    text-align: center;
    width: 100%;
}

.flowchart-table-body {
    display: block;
    border: 1px solid lightgrey;
    border-radius: 1em;
    width: 100%;
    padding: 1em 0.5em 0;
}

.flowchart-table-cell {
    padding: 0em .5em 2em;
    position: relative;
    /*width: 40%;*/
    vertical-align: top;
}


/* Flow line */
.flowchart-line-wrapper td {
    padding: 0;
}

.flowchart-line-wrapper td .flowchart-line-container {
    position: relative;
    overflow: visible;
}

.flowchart-line {
    display: block;

    position: absolute;
    left: 50%;
    z-index: 10;

    width: 1em;
    margin-left: -.5em;
}



/* Card */

.flowchart-card {
    /*border: 2px solid black;*/

    position: relative;
    z-index: 20;
    background: white;
    /*border-radius: .5em;*/
}

.flowchart-card-verb {
    white-space: nowrap;
}
.flowchart-card-verb,
.flowchart-card-inline-layout-content {
    border-radius: .6em;
    padding: .6em;
    border: 1px grey solid;
    text-transform: capitalize;
}

.flowchart-table .flowchart-card {
    text-align: center;
    border: 1px grey solid;
    border-radius: .6em;
    overflow: hidden;
}
.flowchart-table .flowchart-card-verb {
    text-align: left;
}


.flowchart-card div {
    margin: 0;
    text-align: center;
}

.flowchart-card>div {
    margin: 0 -.6em;
    padding: 0 .6em;
}

/*.flowchart-card .flowchart-card-inner-table-cell-content>a {
    opacity: 0;
}

.flowchart-card .flowchart-card-inner-table-row:hover .flowchart-card-inner-table-cell-content>a {
    opacity: 1;
}*/

.flowchart-card-inner-table {
    width: 100%;
    display: table;
}
.flowchart-card-inner-table tbody {
    display: table;
    padding: 0;
    border: 0;
    width: 100%;
}
.flowchart-card-inner-table-row {
    width: 100%;
}
.flowchart-card-inner-table-row:first-child {
    font-weight: bold;
}
.flowchart-card-inner-table-row:nth-child(even) .flowchart-card-inner-table-cell{
    background: #eee;
}
/*.flowchart-card-inner-table-row:hover .flowchart-card-inner-table-cell{
    background: lightblue;
    cursor: pointer;
}*/

.flowchart-card-inner-table-row:first-of-type .flowchart-card-inner-table-cell-content {
    text-transform: capitalize;
}
.flowchart-card-inner-table-cell{
    padding: 4px;
    border: 1px grey solid;
}
.flowchart-card-inner-table-cell:first-child {
    border-left: 0;
}
.flowchart-card-inner-table-cell:last-child {
    border-right: 0;
}
.flowchart-card-inner-table-row:first-child .flowchart-card-inner-table-cell {
    border-top: 0;
}
.flowchart-card-inner-table-row:last-child .flowchart-card-inner-table-cell {
    border-bottom: 0;
}
.flowchart-card-inner-table-cell:last-child:not(:first-child) {
    padding: 4px 8px;
    width: 1px;
}


.flowchart-card-inline-layout {
    width: 100%;
}

.flowchart-card-inline-layout-cell {
    padding: 0;
}

.flowchart-card-inline-layout-content {
    padding: 4px 1.6em;
    border: 0;
    min-height: 1.2em;
}


.flowchart-card-inline-layout-content-url {
    position: absolute;
    top: 2px;
    right: 7px;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
