{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load wysiwyg %}

{% block title %}Protocol{% if object %}: {{ object }}{% endif %}{% endblock %}

{% block page_title %}Protocol{% if object %}: {{ object }}{% endif %}{% endblock %}

{% block content %}
<div class="row">

    <!-- main form div -->
    <div class="span6">
      {% if object %}<h2>Confirm</h2>{% endif %}
      <form action="." method="post" class="form-stacked well">{% csrf_token %}
        <div class="actions">
          <p>Are you sure you wish to duplicate this Protocol?</p>
          {{ form|crispy }}
          <input type="submit" class="btn btn-danger" name="cancel" value="Cancel">
          <input type="submit" class="btn btn-success" name="confirm" value="Confirm">
        </div>
      </form>
    </div>

    <!-- secondary form div -->
    {% if object %}
    <div class="span6">
    </div>    
    {% endif %}
  </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#id_name").focus();
    });
</script>
{% wysiwyg_setup  %}    
{% wysiwyg_editor "id_raw" %}
{% endblock extrajs %}
