{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ organization.name }}{% endblock %}

{% block page_title %}{{ request.user.first_name }}'s Dashboard{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}"><i class="icon-home"></i> Home</a> <span class="divider">/</span></li>
      <li class="active">{{ organization.name }}</li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Create Protocol</h3></li>
            <li><a href="{% url protocol_create owner_slug=organization.slug %}">{{ 'New Protocol'}}</a></li>
        </ul>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Create Workflow</h3></li>
            <li><a href="{% url workflow_create owner_slug=organization.slug %}">{{ 'New Workflow'}}</a></li>
        </ul>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Create Experiment</h3></li>
        </ul>        
    </div>

    <div class="span9">
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Protocols</h3></li>
                <table class="table table-striped">
                    {% if organization.protocol_set.all %}
                    <thead>
                        <tr>
                            <th>Title</th>
                            {% if request.user.is_authenticated %}
                            <th>Status</th>
                            {% endif %}
                            <th>Author</th>
                            <th>Duration</th>
                            <th>Actions</th>
                            <th>Last Modified</th>
                        </tr>
                    </thead>
                    {% endif %}
                        <tbody>
                        {% for protocol in organization.protocol_set.all %}
                        <tr>
                        <td><a href="{{ protocol.get_absolute_url }}">{{ protocol }}</a></td>
                        <td>
                        {% if not protocol.published %}
                            <a href="{{ protocol.get_absolute_url }}"><i class="icon-edit"></i></a>
                        {% else %}
                            <a href="#"><i class="icon-lock"></i></a>    
                        {% endif %}
                        {% if protocol.public %}
                            <a href ="#"><i class="icon-globe"></i></a>
                        {% else %}
                            <a href ="#"><i class="icon-eye-open"></i></a>
                        {% endif %}
                    </td>
                        <td>{{ protocol.author.last_name }}</td>
                        <td>{{ protocol.duration|protocol_time_round_up }}</td>
                        <td>{{ protocol.get_actions|length }}</td>
                        <td>{{ protocol.modified|date:"M d, Y H:i"}}</td>
                    </tr>
                        {% endfor %}
            </tbody>
        </table>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Workflows</h3></li>
                <table class="table table-striped">
                    {% if request.user.workflow_set.all %}
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th># of Protocols</th>
                            <th>Last Modified</th>
                        </tr>
                    </thead>
                    {% endif %}
                        <tbody>
                            {% for workflow in request.user.workflow_set.all %}
                            <tr>
                                <td><a href="{% url workflow_detail owner_slug=organization.slug workflow_slug=workflow.slug %}">{{ workflow.name }}</a></td>
                                <td>{{ workflow.numberOfProtocols }}</td>
                                <td>{{ workflow.modified|date:"M d,Y H:i"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-label"><h3>Experiments</h3></li>
        {% for experiment in request.user.experiment_set.all %}
            <li><a href="{{ experiment.get_absolute_url }}"><i class="icon-play-circle"></i> {{ experiment.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    
</div>

{% endblock %}
