{% extends "base.html" %}

{% block title %}Protocol List{% endblock %}

{% block page_title %}Organization List
{% endblock %}

{% block content %}
<div class="box">
  <ul class="nav nav-tabs nav-stacked">
    {% for organization in object_list %}
    {% for protocol in organization.protocol_set.all %}
    <li><a href="{{ protocol.get_absolute_url }}"><i class="icon-play-circle"></i> {{ protocol.name }}-{{ organization.name }}</a></li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

