{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ organization.name }}{% endblock %}

{% block page_title %}{{ request.user.first_name }}'s Dashboard{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span></li>
      <li class="active">{{ organization.name }}</li>
    </ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 accordion" id="accordion1">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                    <h3>Draft Protocols ({{ request.user.get_profile.get_private_draft_protocols|length}})</h3>
                </a>
            </div>    
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Protocol</th>
                              <th>Duration</th>
                              <th>Steps</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in request.user.get_profile.get_private_draft_protocols %}
                            <tr>
                                <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                <td>{{ item.duration|protocol_time_compact }}</td>     
                                <td>{{ item.steps|length}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                        <h3>Private Protocols ({{ request.user.get_profile.get_private_protocols|length}})</h3>
                    </a>
                </div>    
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-hover table-condensed">
                            <thead>
                              <tr>
                                  <th>Protocol</th>
                                  <th>Duration</th>
                                  <th>Steps</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in request.user.get_profile.get_private_protocols %}
                                <tr>
                                    <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                    <td>{{ item.duration|protocol_time_compact }}</td>     
                                    <td>{{ item.steps|length}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
       
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                        <h3>Public Protocols ({{ request.user.get_profile.get_public_protocols|length}})</h3>
                    </a>
                </div>    
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-hover table-condensed">
                            <thead>
                              <tr>
                                  <th>Protocol</th>
                                  <th>Duration</th>
                                  <th>Steps</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in request.user.get_profile.get_public_protocols %}
                                <tr>
                                    <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                    <td>{{ item.duration|protocol_time_compact }}</td>     
                                    <td>{{ item.steps|length}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
         </div>
     </div>
     <div class="row">
     <div class="span12 accordion" id="accordion2">

         <div class="accordion-group">
                <div class="accordion-heading">
                        <a class="btn btn-medium btn-success pull-right centered" href="{% url workflow_create owner_slug=organization.slug %}"><i class="icon-plus"></i> Create Workflow</a>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <h3>Workflows ({{ workflows|length}})</h3>
                    </a>
                </div>    
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-hover table-condensed">
                            <li><a href="{% url workflow_create owner_slug=organization.slug %}">{{ 'New Workflow'}}</a></li>
                            {% if workflows %}
                            <thead>
                              <tr>
                                  <th>Title</th>
                                  <th># of Protocols</th>
                                  <th>Last Modified</th>
                              </tr>
                            </thead>
                            {% endif %}
                            <tbody>
                                {% for workflow in workflows %}
                                <tr>
                                    <td><a href="{% url workflow_detail owner_slug=organization.slug workflow_slug=workflow.slug %}">{{ workflow.name }}</a></td>
                                    <td>{{ workflow.numberOfProtocols }}</td>
                                    <td>{{ workflow.modified|date:"M d,Y H:i"}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>
     </div>        

     <div class="row">
         <div class="span12 accordion" id="accordion3">

             <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="btn btn-medium btn-success pull-right centered" href="{% url experiment_create owner_slug=organization.slug %}"><i class="icon-plus"></i> Create Experiment</a>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFive">
                            <h3>Experiments ({{ experiments|length}})</h3>
                        </a>
                    </div>    
                    <div id="collapseFive" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table class="table table-hover table-condensed">                                
                                {% if experiments %}
                                <thead>
                                  <tr>
                                      <th>Title</th>
                                      <!-- <th># of Protocols</th> -->
                                      <th>Last Modified</th>
                                  </tr>
                                </thead>
                                {% endif %}
                                <tbody>
                                    {% for experiment in experiments %}
                                    <tr>
                                        <td><a href="{% url experiment_detail owner_slug=organization.slug experiment_slug=experiment.slug %}"> {{ experiment.name }}</a></td>
                                        <!-- <td>{{ workflow.numberOfProtocols }}</td> -->
                                        <td>{{ experiment.modified|date:"M d,Y H:i"}}</td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>                    
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>        


{% endblock %}