{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ organization.name }}{% endblock %}

{% block page_title %}{{ request.user.first_name }}'s Dashboard{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span></li>
      <li class="active">{{ organization.name }}</li>
    </ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 accordion" id="accordion1">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                    <h3>Draft Protocols ({{ draft|length}})</h3>
                </a>
            </div>    
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                              <th>Protocol</th>
                              <th>Duration</th>
                              <th>Steps</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in draft %}
                            <tr>
                                <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                <td>{{ item.duration|protocol_time_compact }}</td>     
                                <td>{{ item.steps|length}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>                    
                </div>
            </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                        <h3>Private Protocols ({{ published|length}})</h3>
                    </a>
                </div>    
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-hover table-condensed">
                            <thead>
                              <tr>
                                  <th>Protocol</th>
                                  <th>Duration</th>
                                  <th>Steps</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in published %}
                                <tr>
                                    <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                    <td>{{ item.duration|protocol_time_compact }}</td>     
                                    <td>{{ item.steps|length}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
       
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                        <h3>Public Protocols ({{ request.user.get_profile.get_public_protocols|length}})</h3>
                    </a>
                </div>    
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-hover table-condensed">
                            <thead>
                              <tr>
                                  <th>Protocol</th>
                                  <th>Duration</th>
                                  <th>Steps</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in request.user.get_profile.get_public_protocols %}
                                <tr>
                                    <td><a href="{{ item.get_absolute_url }}">{{ item.name}}</a></td>
                                    <td>{{ item.duration|protocol_time_compact }}</td>     
                                    <td>{{ item.steps|length}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
         </div>
     </div>
     


{% endblock %}