{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ calendar.name }} Calendars {% endblock %}

{% block page_title %}{{ calendar.name}}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url dashboard %}"><i class="icon-home"></i> Home</a> <span class="divider">/</span></li>
      <li><a href="{% url calendar_list %}">{{ 'Calendars' }}
      </a> <span class="divider">/</span></li>
      <li class="active">{{ calendar.name }}</li>
    </ul>
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fullcalendar.css">
	<link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/fullcalendar.print.css">
{% endblock %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}js/fullcalendar.js"></script>
	<script src="{{ STATIC_URL }}js/bnb.calendar.js"></script>
	<script src="{{ STATIC_URL }}js/gcal.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>
{% endblock %}

{% block content %}
<div id='external-events' class="well well-small" data-calendar='/api/calendar/{{ calendar.pk }}/'>
	<h3>Experiments</h3>
</div> <!-- End Drag Events Container -->
{% csrf_token %}
<div id='calendar'></div>
{% endblock %}